<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.dev.gis.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Test App Perspective"
            class="com.dev.gis.app.TestAppPerspective"
            id="com.dev.gis.app.testapp.perspective">
      </perspective>
      <perspective
            class="com.dev.gis.app.Perspective"
            id="com.dev.gis.app.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.dev.gis.app.taskmanager.testAppView.TestAppView"
            icon="icons/sample.gif"
            id="com.dev.gis.app.task.TestAppView"
            name="TestApp"
            restorable="true">
      </view>
      <view
            name="Message TT"
            allowMultiple="false"
            icon="icons/sample2.gif"
            class="com.dev.gis.app.View"
            id="com.dev.gis.app.view">
      </view>
      <view
            name="Mailboxes X"
            allowMultiple="false"
            icon="icons/sample3.gif"
            class="com.dev.gis.app.NavigationView"
            id="com.dev.gis.app.navigationView">
      </view>
      <view
            class="com.dev.gis.app.taskmanager.TaskTreeView"
            icon="icons/sample.gif"
            id="com.dev.gis.app.taskTreeView"
            name="Tasks"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.dev.gis.app.taskmanager.executionView.TaskExecutionView"
            id="com.dev.gis.app.view.taskExecution"
            name="task execution"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.dev.gis.app.taskmanager.offerDetailView.OfferDetailView"
            icon="icons/sample.gif"
            id="com.dev.gis.app.view.OfferDetailView"
            name="Offer Details"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.dev.gis.app.taskmanager.googleMapView.GoogleMapView"
            id="com.dev.gis.app.view.taskGoogleMap"
            name="task GoogleMap"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.dev.gis.app.taskmanager.bookingView.BookingView"
            icon="icons/sample.gif"
            id="com.dev.gis.app.view.BookingView"
            name="Booking Details"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.dev.gis.app.taskmanager.testAppView.OfferDetailView"
            icon="icons/sample.gif"
            id="com.dev.gis.app.view.OfferDetailView"
            name="Offer Details"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.dev.gis.app.taskmanager.loggingView.LoggingAppView"
            icon="icons/sample.gif"
            id="com.dev.gis.app.task.LoggingAppView"
            name="Session Logging"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.dev.gis.app.taskmanager.loggingView.LoggingSplittFileView"
            icon="icons/sample.gif"
            id="com.dev.gis.app.task.LoggingSplittView"
            name="LoggingSplittFileView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.dev.gis.app.taskmanager.testAppView.TestAppPaymentView"
            icon="icons/sample.gif"
            id="com.dev.gis.app.task.TestAppPaymentView"
            name="TestAppPayment"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.dev.gis.app.taskmanager.loggingView.LogBookingEntryView"
            icon="icons/sample.gif"
            id="com.dev.gis.app.task.LoggingTableView"
            name="Booking list"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.dev.gis.app.taskmanager.loggingView.LogEntryTableView"
            icon="icons/sample.gif"
            id="com.dev.gis.app.task.LogEntryTableView"
            name="LogEntries"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.dev.gis.app.taskmanager.emlView.EmlView"
            icon="icons/sample.gif"
            id="com.dev.gis.app.task.EmlView"
            name="EML View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.dev.gis.app.taskmanager.SunnyCarsView.SunnyCarsAppView"
            icon="icons/SunnyCars.gif"
            id="com.dev.gis.app.task.SunnyCarsAppView"
            name="SunnyCars Test"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.dev.gis.app.taskmanager.SunnyCarsView.SunnyOfferDetailView"
            icon="icons/sample.gif"
            id="com.dev.gis.app.view.SunnyOfferDetailView"
            name="Sunny Offer Details"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.dev.gis.app.taskmanager.SunnyCarsView.SunnyBookingView"
            icon="icons/sample.gif"
            id="com.dev.gis.app.view.SunnyBookingView"
            name="Sunny Booking Details"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="com.dev.gis.app.category1">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="com.dev.gis.app.category1"
            id="com.dev.gis.app.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="com.dev.gis.app.category1"
            id="com.dev.gis.app.openMessage">
      </command>
      <category
            id="com.dev.gis.app.categoryTask"
            name="Task">
      </category>
      <command
            categoryId="com.dev.gis.app.categoryTask"
            defaultHandler="com.dev.gis.app.task.handlers.AddTaskHandler"
            id="com.dev.gis.app.addTask"
            name="addTask">
      </command>
      <command
            categoryId="com.dev.gis.app.categoryTask"
            defaultHandler="com.dev.gis.app.task.handlers.EditTaskHandler"
            id="com.dev.gis.app.editTask"
            name="edit">
      </command>
      <command
            categoryId="com.dev.gis.app.categoryTask"
            defaultHandler="com.dev.gis.app.task.handlers.DeleteTaskHandler"
            id="com.dev.gis.app.deleteTask"
            name="deleteTask">
      </command>
      <command
            defaultHandler="com.dev.gis.app.task.handlers.EditTaskDetailsHandler"
            id="com.dev.gis.app.editTaskDetails"
            name="edit task details">
      </command>
      <command
            categoryId="com.dev.gis.app.category1"
            description="Switch To Log Perspektive"
            id="com.dev.gis.app.switch"
            name="SwitchToLog">
      </command>
      <command
            categoryId="com.dev.gis.app.category1"
            description="Switch To App Perspektive"
            id="com.dev.gis.app.switch.app"
            name="SwitchToApp">
      </command>
      <command
            categoryId="com.dev.gis.app.category1"
            description="Reset Perspektive"
            id="com.dev.gis.app.perspective.reset"
            name="ResetPerspective">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.dev.gis.app.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="com.dev.gis.app.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.dev.gis.app.application"
            name="Log Analyzer">
         <property
               name="aboutText"
               value="BPCS Tool&#x0A;Copyright 2015">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="Log Analyzer">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="taskMenu"
               label="&amp;Tasks">
            <command
                  commandId="com.dev.gis.app.addTask"
                  label="Add"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.dev.gis.app.taskTreeView">
         <command
               commandId="com.dev.gis.app.addTask"
               label="Add"
               style="push">
         </command>
         <command
               commandId="com.dev.gis.app.editTask"
               icon="icons/email_edit.png"
               label="Edit"
               style="push"
               tooltip="Edit Task or Group">
         </command>
         <command
               commandId="com.dev.gis.app.deleteTask"
               icon="icons/email_delete.png"
               label="Delete"
               style="push">
         </command>
         <command
               commandId="com.dev.gis.app.editTaskDetails"
               icon="icons/email_edit.png"
               label="Edit task details"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.dev.gis.app.task.TestAppView">
         <command
               commandId="com.dev.gis.app.addTask"
               label="Add"
               style="push">
         </command>
         <command
               commandId="com.dev.gis.app.editTask"
               icon="icons/email_edit.png"
               label="Edit"
               style="push"
               tooltip="Edit Task or Group">
         </command>
         <command
               commandId="com.dev.gis.app.deleteTask"
               icon="icons/email_delete.png"
               label="Delete"
               style="push">
         </command>
         <command
               commandId="com.dev.gis.app.editTaskDetails"
               icon="icons/email_edit.png"
               label="Edit task details"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.dev.gis.app.preferences.SamplePreferencePage"
            id="com.dev.gis.app.preferences.SamplePreferencePage"
            name="Sample Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.dev.gis.app.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
